/** Proxima Nova **/

@font-face {
    font-family: 'ProximaNova';
    src: url('mark-simonson-proxima-nova-alt-regular-webfont.eot');
    src: url('mark-simonson-proxima-nova-alt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('mark-simonson-proxima-nova-alt-regular-webfont.woff') format('woff'),
         url('mark-simonson-proxima-nova-alt-regular-webfont.ttf') format('truetype'),
         url('mark-simonson-proxima-nova-alt-regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('mark-simonson-proxima-nova-semibold-webfont.eot');
    src: url('mark-simonson-proxima-nova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('mark-simonson-proxima-nova-semibold-webfont.woff2') format('woff2'),
         url('mark-simonson-proxima-nova-semibold-webfont.ttf') format('truetype'),
         url('mark-simonson-proxima-nova-semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

